/* page wide styling */
body {
	color: #666;
	font-family: "Lucida Grande", sans-serif;
	font-size: 16px;
	line-height: 32px;
}

h1 {
	font-size: 48px;
	line-height: 104px;
	margin-bottom: 3px;
	text-align: center;
}

h2 {
	color: #f07c17;
	font-size: 24px;
	font-weight: 600;
	line-height: 27px;
}

ul {
	font-size: 16px;
	line-height: 32px;
}


/* Block customizations */
.sub-header {
	margin-bottom: 29px;
	margin-top: 0;/* clear the bootstrap margin */
}

.features-block {
	border: 1px solid #ccc;
	margin-top: 30px;
	padding-left: 30px;
}

.features-header {
	margin-top: 30px;
}

.features-list {
	margin-top: 29px;
	margin-bottom: 40px;
}


/* Setup the mockup image as either background or tranparent foreground */
.mockup-overlay {
	/**/
	/* display: none; */ /**/
	left: 0px;
	margin: 0;
	opacity: 0.4;
	padding: 0;
	position: absolute;
	top: 25px;
	z-index: 1000;
}
